
.image-size {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.container {
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

.rightIcon {
  width: 300px;
  height: 300px;
}

.leftIcon {
  width: 200px;
  height: 200px;
}

.centerTitle {
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  font-weight: bold;
}
