.rfr_container {
    background-image: linear-gradient(to bottom, #050505, #110f1e, #141632, #121d48, #04245f);
    width: 100%;
    height: 100vh;
}
.rfr_title {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    color: #ffffff;
}
.rfr_margin {
    margin: 20px 0;
    display: inline-block;
}
.rfr_image {
    height: 400px;
    width: auto;
}
.rfr_grid_container {
    background-image: linear-gradient(to bottom, #eef1f1, #e1e3e4, #d5d6d6, #c8c8c9, #bbbbbb);

}
.rfr_item_description  p{
    color: #444;
    font-size: large;
}